@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <div class="search-field">
        <form method="post" asp-action="SearchTickets">
            <header><h1>Найдётся всё! (почти)</h1></header>
            <input type="text" placeholder="Город отправления" maxlength="30" name="origin" id="origin" />
            <input type="text" placeholder="Город прибытия" maxlength="30" name="destination" id="destination"/>
            <input type="date" placeholder="дата отправления" name="departureTime" />
            <input class="form-submit-button" type="submit" value="Искать" />
        </form>

    </div>

</div>
