@model SearchResultModel

@{
    ViewData["Title"] = "Результат поиска";
}

<div class="text-center">
    @{
        if (Model.data != null)
        {

            foreach (var ticket in Model.data)
            {
                @await Html.PartialAsync("FlyListCard", ticket)
                ;
                <hr />
            }
        }
        else
        {
            <h2>Извините, вылетов по заданным параметрам не найдено.</h2>    
        }
    }
</div>
