html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: black;
}

.search-field input {
    border: 1px;
    border-color: darkorange;
    font-size: large;
    padding: 15px;
    border: solid;
    border-radius: 8px;
    margin-bottom: 5px;
    box-shadow: inherit 0 0 5px 5px #888;
}

.form-submit-button {
    background-color: #FA742D;
    color: white;
    border-radius: 12px;
    font-size: 80%;
    font-weight: bold;
    width: 100%;
}

.ticket-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    color: white;
    background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5) ), url('/images/sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.buy-btn:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.buy-btn:disabled:hover {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}


.ticket-header {
    margin-bottom: 10px;
}

.ticket-header h2 {
    margin: 0;
    font-size: 20px;
}

ticket-header p {
    margin: 0;
    font-size: 16px;
}

.ticket-details p {
    font-size: 16px;
    margin-bottom: 5px;
}

.ticket-footer button {
    padding: 10px 20px;
    background-color: #FA742D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

    .ticket-footer button:hover {
        background-color: #EB7231;
    }
